*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	height: 100%;

}
.center{
	margin: 0 auto;
	padding: 0 2%;
	max-width: 960px;
}
section{
	width: 100%;
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 2% 0;
}
table{
	width: 70%;
	border-collapse: collapse;
}
table th input[type="text"]{
	height: 40%;
	width: 160%;
	border:1px solid black;
	text-align:left;
	padding-left: 12px;
	padding: 0 5px;
}
table td{
	width: 100%;
	display: block;
	text-align:center;
}
table td input[type="text"]{
	font-size: 12px;
	position: relative;
	top: 20px;
	left: -20%;
	text-align: center;
	width: 60%;
	text-align: center;
	height: 25px;
	border-radius: 5px;
}
input[type="file"]{
	position: relative;
	left: 75%;
	width: 145%;
	position: relative;
	border-radius: 10px;
	background-color: green;

}
input[type="submit"]{
	position: relative;
	left: 20%;
	text-align: center;
	width: 60%;
	height: 30px;
	background-color:green;
	margin-top: 5px;
}


